@media (max-width: 991.98px) {
    .sticky {
        font-size: 18px;
        color: #000000;
        background-color: #fff !important;
    }
    
}

@media (max-width: 575.98px) {
    h1{
        font-size: 1.5rem !important;
    }
    .lead{
        font-size: 1rem !important;
    }
    .locationSearchForm input{
        width: 50% !important;
        font-size: 14px !important;
    }
    .locationSearchForm button{
        font-size: 14px !important;
    }
    .card-title{
        font-size: 18px !important;
    }
    
}

@media (max-width: 767.98px) {
    .card p{
        font-size: 17px !important;
    }
}

@media (max-width: 991.98px) {
    .marker, .marker-data{
        font-size: 14px !important;
    }
    .card-title{
        font-size: 18px !important;
    }
}